:root {
    --btn-bg-color: hsl(158, 36%, 37%);
    --container-bg-color: hsl(30, 38%, 92%);
    --neutral-basis-color: hsl(0, 0%, 100%);
    --neutral-text-color: hsl(228, 12%, 48%);
    --neutral-title-color: hsl(212, 21%, 14%);
    --fs: 0.875rem;
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-fraunces: 'Fraunces', serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}



/* Set core body defaults */
body {
    margin: 0 auto;
    min-height: 100vh;
    line-height: 1.65;
    width: min(650px, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--container-bg-color);
    font-size: var(--fs);
    font-weight: 500;
    font-family: var(--ff-montserrat);
}

h1,
span:first-of-type {
    font-weight: 700;
    font-family: var(--ff-fraunces);
    line-height: 2rem;
    font-size: 2rem;
}

h1 {
    color: var(--neutral-title-color);
}

span {
    display: inline-flex;
    align-items: center;
    /* center span vertically after inline-flex */
}


.button span::before {
    content: url(images/icon-cart.svg);
    /* https://css-tricks.com/almanac/selectors/a/after-and-before/ */
    margin-right: 0.9375rem;
    /* https://developer.mozilla.org/de/docs/Web/CSS/::before */
    padding-bottom: 0.375rem;
}


span:first-of-type {
    color: var(--btn-bg-color);
}

.price span:last-of-type {
    text-decoration: line-through;
}

span:last-of-type,
p {
    color: var(--neutral-text-color);
}

body > div:first-of-type {
    margin: inherit;
    width: 90%;
    min-height: 450px;
    border-radius: 0.75rem;
    background-color: var(--neutral-basis-color);
}

main {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.9375rem;
}

main > div {
    display: flex;
}

main > div:last-of-type {
    justify-content: center;
}

main > div:first-of-type {
    align-items: center;
}

img {
    display: block;
    /* max-inline-size: 100%; */
    max-height: 40vh;
    width: 100%;
    object-fit: fill;
    /* https://moderncss.dev/css-only-full-width-responsive-images-2-ways/ */

    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.button {
    background-color: var(--btn-bg-color);
    border-radius: 0.375rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.button * {
    font-size: 0.8125rem;
    color: var(--neutral-basis-color);
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(157deg 43% 18%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(min-width: 37.5em) {

    body > div:first-of-type {
        display: flex;
    }

    main {
        width: 50%;
    }

    picture {
        display: block;
    }

    header {
        width: 50%;
    }

    img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.75rem;
        max-height: 100vh;
    }
}
